* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.red {
    color: red;
}
body {
    font-family: 'Monospace', sans-serif;
    background-color: #e5e5e5;
    font-weight: bold;
}
div.nav {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: auto;
    position: relative;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #000000;;
    color: #ffffff;;
}
div.nav > div {
    flex-grow: 0;
    padding: 1em;
    margin: 1em;
}
div.dropdn {
    display: inline-block;
}
div.dropdn > div.stuff {
    visibility: hidden;
    background-color: #000000;
    position: absolute;
    z-index: 1;
    transform: translateX(-75%);
    width: 20rem;
    padding: 1em;
    border-radius: 1rem;
}
div.dropdn > div.stuff > div.item {
    color: white;
    margin: 1em;
    padding: 0.5em;
}
div.dropdn > div.stuff > div.item:hover {
    color: red;
    cursor: pointer;
}
div.dropdn:hover > div.stuff {
    visibility: visible;
}
div.card {
    display: inline-block;
    position: relative;
    min-width: 300px;
    margin: 1em;
    background-color: #ffffff;
    border-radius: 0.1em;
}
div.card > div.header {
    position: relative;
    height: 20%;
    min-height: 1em;
    display: flex;
    align-items: stretch;
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 0.1em;
}
div.card > div.header > span {
    flex-grow: 0;
}
div.card > div.header > span.space {
    flex-grow: 1;
}
li {
  padding: 1em;
  border-bottom: 1px solid #A9A9A9;
}
ul.children {
  margin-left: 0.5rem;
  list-style-type: none;
}
.parent {
  margin-left: 0.1em;
}
